@media (min-width: 750px){
    /*-------- NAVBAR --------*/
    .navbar-top{
        justify-content: space-around;

    }
    .hamburger-container{
        display: none;
    }
    .navbar-options{
        margin: 0;
        display: flex;
        height: 100%;
        flex-basis: 70%;
        justify-content: space-between;
    }
    .navbar-list{
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 100px;
    }
    .navbar-logo{
        margin: 0;
        flex-basis: 5%;
    }
    /*-------- PPAL BANNER --------*/
    .ppal-banner{
        display: grid;
        padding: 20px;
    }
    .ppal-words{
        margin: auto;
    }
    #show-me-mode-btn{
        margin-top: 10px;
    }
    
    /*-------- ABOUT ME --------*/
    .about-main{
        height: auto;
        width: 100%;
        padding: 0px;
        margin: auto;
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 'photo data';
    }
    .about-info{
        flex-flow: column;
        grid-area: data;
        align-self: center;
        padding: 10px;
    }
    .about-technologies{
        width: fit-content;
        overflow: hidden;
        grid-area: data;
        padding: 0px;
    }
    .download{
        margin: 0px;
        padding: 0px;
    }
    .button, button a{
        width: 180px;
        height: 45px;
    }
    .project-btn{
        display: flex;
        align-items: center;
    }
    .project-btn a{
        margin: 0%;
        margin-left: 5px;
        height: auto;
    }
    .about-photo{
        margin: auto;
        grid-area: photo;
    }
    .project-injection-view{
        width: 60%;
    }
    .footer{
        flex-direction: row;
    }
    .footer-about{
        padding: 30px;
        height: 100%;
    }
    .footer-explore{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 30px;
    }
    .footer-social-icons{
        display: flex;
        align-items: center;
        padding: 0px;
    }
}


@media (min-width: 1390px){
    .about-technologies{
        width: fit-content;
        overflow: hidden;
        grid-area: data;
        padding: 20px;
        padding-left: 0px;
    }
    .footer-social-icons{
        flex-direction: row;
        width: 40%;
        margin-right: 30px;
    }
}