@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,100&display=swap');

:root{
   --ppalColor:  rgb(248, 248, 255);
   --darkThemePpalColor:  rgb(38, 38, 39);
   --neumorphicWhiteShadow: 3px 3px 10px #312b490e, -5px -5px 5px rgb(255, 255, 255);
   --blackFont: rgb(27, 27, 27);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px auto;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

.animate__animated.animate__fadeInUp{
    --animate-duration: 1.5s;
}

body{
    background-color: var(--ppalColor);
}

.container-flex{
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-top{
    z-index: 2;
    position: fixed;
    top: 0;
    height: 4.5rem;
    padding: 10px;
    background-color: var(--ppalColor);
    box-shadow: var(--neumorphicWhiteShadow);
    transition: all 300ms;
}

.navbar-top.active{
    transition: all 300ms;
    height: 200px;
}


.navbar-hamburger{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 25%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-top: 35px;
}

.hamburger-container{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 25%;
    height: 100%;
    align-items: flex-start;
}

#nav-icon4{
    display: flex;
    width: 60px;
    height: 45px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    transform: scale(0.4);
}

#nav-icon4 span{
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: var(--darkThemePpalColor);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
.navbar-options{
    display: none;
    display: flex;
    height: 100%;
    flex-basis: 100%;
}

.navbar-options.active{
    display: flex;
    height: 100%;
    flex-basis: 50%;
}

.navbar-list{
    display: none;
}

.navbar-list.active{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 60px;
    font-size: 1em;
    padding: 0;
}

.navbar-list li,
.navbar-list li a{
    text-align: center;
    font-weight: 200;
    list-style-type: none;
    text-decoration: none;
    color: var(--darkThemePpalColor);
    transition: all 500ms;
    letter-spacing: 0,3px;
    margin-top: 5px;
}

.navbar-list li a:hover{
    color: rgb(76, 76, 218);
}

.navbar-logo{
    flex-basis: 25%;
    height: 100%;
}

.navbar-logo a{
    display: flex;
    justify-content: flex-end;
}

.codesign-logo{
    width: 50px;
    height: 50px;
}

/*-------------------------- LANDING BANNER -----------------------*/

.intro-gif{
    display: flex;
    width: 65%;
}

.ppal-screen{
    height: auto;
    margin-top: 100px;
    max-width: 95%;
}

.ppal-banner{
    width: 100%;
    border-radius: 15px;
    box-shadow: var(--neumorphicWhiteShadow);
    padding: 10px;
    height: auto;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: "words animation";
}

.ppal-words{
    text-align: center;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    line-height: 2rem;
}

.ppal-words-h5{
    font-size: 30px;
    margin-bottom: 0.6em;
}

.ppal-words-h6{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1em;
}

.button{
    box-shadow: var(--neumorphicWhiteShadow);
}


.button,
.button a{
    width: 180px;
    padding: 12px;
    border-radius: 20px;
    background-color:var(--darkThemePpalColor);
    outline: none;
    border: none;
    color: var(--ppalColor);
    text-decoration: none;
}

/*---------- ABOUT ME ----------*/

.about-main{
    display: none;
    position: relative;
    height: auto;
    max-width: 95%;
    padding: 10px;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: var(--neumorphicWhiteShadow);
}

.about-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.about-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-top: 20px;
}

.about-photo img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.download{
    display: flex;
    padding-top: 5px;
    padding-bottom: 15px;
}

/*---------- PROJECTS ----------*/

.projects{
    display: none;
    max-width: 95%;
    height: auto;
    margin-top: 25px;
    overflow: hidden;
}

.projects.animate__animated.animate__fadeInUp{
    --animate-duration: 2.5s;
}

.projects-row{
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 30px;
}

.project-card{
    height: auto;
    cursor: pointer;
    background-color: var(--ppalColor);
    box-shadow: var(--neumorphicWhiteShadow);
    width: 300px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 8px;
    transition: all 500ms;
}

.project-card:hover{
    transform: scale(1.05);
}

.project-miniature{
    width: 100%;
    height: 45%;
    border-radius: 8px 8px 0px  0px;
}

.project-card-info{
    padding: 10px;
    padding-left: 20px;
}

/*---------- PROJECTS INJECTION ----------*/

.project-injection-view{
    margin-top: 30px;
    height: auto;
    max-width: 100%;
    box-shadow: var(--neumorphicWhiteShadow);
    border-radius: 15px;
    /* border: 1px solid red; */
}

.close-button-container{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: transparent;
    z-index: 1;
}

.close-button{
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-image: linear-gradient(#e63d3d, #f86067);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.253);
    z-index: 1;
}
#x-icon{
    color: rgba(255, 255, 255, 0.774);
}

#x-icon::before{
    display: flex;
    justify-content: center;
}

.project-injection-cover{
    margin-top: -25px;
}

.project-injection-cover img{
    border-radius: 8px 8px 0px 0px;
}

.project-injection-info{
    padding: 20px;
}

.project-injection-title{
    padding-bottom: 10px;
}

.project-injection-paragraph{
    text-align: justify;
}

.project-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.project-btn{
    cursor: pointer;
    display: flex;
    padding: 10px;
    width: 200px;
    height: 50px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: var(--neumorphicWhiteShadow);
    outline: none;
}

.project-btn a{
    width: auto;
    color: var(--darkThemePpalColor);
    text-decoration: none;
    margin-left: -8px;
}

.project-btn img{
    height: 80%;
    width: auto;
}